<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5 mt-3 rounded">
  <div class="container-fluid">
<div class="links">
          <a class="nav-link btn " href="#">Accepts </a>          <a class="nav-link" href="#">Rejected </a>
</div>    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">



      </ul>
      <form class="d-flex" >
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <li class="nav-item btn m-1 profile">
        <a class="nav-link" href="#"> Mohamed </a>
      </li>
      <li class="nav-item m-1 btn out">
        <a class="navbar-brand " href="#">Out</a>
            </li>


    </div>
  </div>
</nav>
<!-- Example single danger button -->
